<div class="aboutus" id="about">
    <div class="about-title">
        <h1>ABOUT US</h1>
        <p>
            Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim<br>
            vitae metus nonummy venenatis. Curabitur semper rutrum sapien.
        </p>
    </div>
    <div class="about-content">
        <h2>We are COMPOSITE</h2>
        <h3>WEB DESIGN & DEVELOPMENT AGENCY</h3>
        <p>
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus<br>
            mus. Vestibulum dapibus lectus a ligula blandit ac egestas ipsum facilisis toque<br>
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum<br>
            dapibus lectus a ligula blandit ac egestas ipsum facilisi.<br><br>
            Suspendisse potenti. Etiam elementum laoreet mauris. Ut rutrum feugiat neque.<br>
            Suspendisse viverra gravida nulla. Duis sed enim vitae metus nonummy<br>
            venenatis. Curabitur semper rutrum sapien. Mauris luctus.
        </p>
    </div>
    <div class="skillbar">
        
            <h4 class="skill">HTML5</h4>
            <h4 class="persentage">100%</h4>
            <div class="container">
                <div class="skills html5"></div>
            </div>
       

        <h4 class="skill">CSS3</h4>
        <h4 class="persentage">100%</h4>
        <div class="container">
            <div class="skills css3"></div>
        </div>

        <h4 class="skill">PHOTOSHOP</h4>
        <h4 class="persentage">80%</h4>
        <div class="container">
            <div class="skills photpshop"></div>
        </div>

        <h4 class="skill">JQUERY</h4>
        <h4 class="persentage">90%</h4>
        <div class="container">
            <div class="skills jquery"></div>
        </div>
    </div>
</div>