.contactus{
    background: #303030;
    color: #EEE;
    height:120vh;
    padding: 80px 200px 80px 200px;
}

.contact{
    text-align: center;
    margin-bottom: 50px;
}

h1,h2{
    font-weight: 400;
    padding-bottom: 20px;
}

p{
    font-size:13px;
    line-height: 1rem;
}

.contactus .fa{
    margin-right: 10px;
    font-size: 20px;
    color:#ffa400;
}

.our-address{
    display:inline-block;
}

.our-address p{
    margin: 0 0 20px;
}

h2{
    margin: 0px 0px 30px 0px;
}

.our-address p a{
    color:#ffa400;
    text-decoration: none;
}

.contact-form{
    display:inline-block;
    position: relative;
}

input[type=text] , input[type=email] , .subject , textarea{ 
    height: 60px;
    width:43%;
    margin:0px 20px 20px 20px;
    background: transparent;
    padding-left: 10px;
    border: 1px solid #444;
}

form{
    width:649px;
    height:420px;
    margin-left: 20px;
}

form:focus
{
	background: #444444;
	border-color: transparent;
	box-shadow: none;
}

.subject ,textarea{
    width:92%;
}

textarea{
    height:150px;
    padding:10px 10px;
}

.submit{
    height:60px;
    width:30%;
    margin:0px 20px 20px 20px;
    color:#fff;
    font-weight: bold;
    background: transparent;
    border: 1px solid #444; 
}

input:focus , textarea:focus
{
	background: #444444;
	border-color: transparent;
    box-shadow: none;
    outline: none;
}


.submit:hover{
    background-color: #ffa400;
}

/*.form-control
{
	background: transparent;
	border: 1px solid #444;
	border-radius: 0px;
	color: #FFF;
	margin: 10px 0 10px 0;
}
input { height: 60px; }
.form-control:focus
{
	background: #444444;
	border-color: transparent;
	box-shadow: none;
}
input[type="submit"]
{
	color: #FFF;
	font-weight: 600;
	letter-spacing: 1px;
	width: 220px;
	-webkit-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
input[type="submit"]:hover
{
	background: #ffa400;
	border-color: transparent;
	color: #FFF;
}

.col-sm-6{position:relative;min-height:1px;padding-right:15px;padding-left:15px}
.col-sm-6{float:left}
.col-sm-6{width:50%}


.col-md-6 ,.col-md-8 , .col-md-12{float:left}
.col-md-6{width:50}


.col-md-12{width:100%}
.col-md-8{width:66.66666667%}

*/