<div class="contactus">
    <div class="contact" id="contact">
        <h1>CONTACT US</h1>
        <p>
            Suspendisse potenti. Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida<br>
            nulla. Duis sed enim vitae metus nonummy venenatis. Curabitur semper rutrum sapien.
        </p>
    </div>
    <div class="our-address">
        <h2>OUR ADDRESS</h2>
        <p>
            <i class="fa fa-phone"></i>
            090-080-0980
        </p>
        <p>
            <i class="fa fa-envelope-o"></i>
            <a href="#">info@company.com</a>
        </p>
        <p>
            <i class="fa fa-globe"></i>
            <a href="#">http://www.company.com</a>
        </p>
        <p>
            <i class="fa fa-map-marker"></i>
            360 Aenean Quis Semper, Maecenas 10450
        </p>
    </div>
    <div class="contact-form">
        <form action="#" method="post" role="form">
            <div>
                <input type="text"  placeholder="Name">
            
                <input type="email"  placeholder="Email">
            </div>
            <div>
                <input placeholder="Subject" class="subject">
            </div>
            <div>
                <textarea placeholder="Message" rows="6"></textarea>
            </div>
            <div>
                <a href="#"><input type="submit" value="SEND MESSAGE" class="submit"></a>
            </div>
        </form>
    </div>
</div>