<div class="ourteam" id="team">
    <div class="ourteam-title">
        <h1>MEET THE TEAM</h1>
        <p>
            Etiam elementum laoreet mauris. Ut rutrum feugiat neque. Suspendisse viverra gravida nulla. Duis sed enim<br>
            vitae metus nonummy venenatis. Curabitur semper rutrum sapien. Mauris luctus.
        </p>
    </div>
    <div class="column">
        <img src="assets/images/member1.jpg"  style="width:100%">
        <h2>TRACY</h2>
        <h5>DESIGNER</h5>
      </div>
      <div class="column">
        <img src="assets/images/member2.jpg" style="width:100%">
        <h2>MARY</h2>
        <h5>DEVELOPER</h5>
      </div>
      <div class="column">
        <img src="assets/images/member3.jpg" style="width:100%">
        <h2>JULIA</h2>
        <h5>DIRECTOR</h5>
      </div>
      <div class="column">
        <img src="assets/images/member4.jpg" style="width:100%">
        <h2>LINDA</h2>
        <h5>MANAGER</h5>
      </div>
    
</div>
