<header>
    <div class="main-navigation">
        <div>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#feature">FEATURES</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#team">OUR TEAM</a></li>
                <li><a href="#portfolios">PORTFOLIOS</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </div>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="assets/images/1.jpg">
              <!--  <div class="slider-caption">
                    <div class="templatemo_homewrapper">
                        <h1>Creative Web Design Agency</h1>
                        <h2>Web Design &amp; code your dream</h2>
                          <a href="#portfolio">Learn More</a>
                      </div>
                </div>-->
            </li>
        </ul>
    </div>
</header>